@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
/* put bg image*/
/* body {
    color: var(--foreground);
    
    background-image: url('https://media.istockphoto.com/id/1155705365/vector/abstract-black-background-gradient-that-looks-modern.jpg?s=612x612&w=0&k=20&c=kNHfOPdB6TjbRagCcDd6kgZx5SbBEnaB4TL8Ru3zEaY=');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

    font-family: Arial, Helvetica, sans-serif;
  } */
body {
  margin: 0;
  padding: 0;
  
  background: #121212 ;
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
  overflow-x: hidden;
  overflow-y: scroll;

  color: #f0f0f0;
  font-family: "Arial", sans-serif;
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 10s linear infinite; /* Adjust the duration as desired */
}

.font-dancing-script {
  font-family: var(--font-dancing-script), cursive;
}
